node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Nimcache
nimcache/
cache/
build/

# Garbage
*.exe
*.log
*.lg


.env
.env.local
!.env.production
.env.development
logs/
*.db

# Database files
src/database/*.db
src/database/*.db-journal
src/database/*.db-wal
src/database/*.db-shm

# But keep the directory
!src/database/.gitkeep