# Output
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Nimcache
nimcache/
cache/
build/

# Garbage
*.exe
*.log
*.lg

# Env
.env
.env.local
!.env.production
.env.development
logs/
*.db

# Database files
src/database/*.db
src/database/*.db-journal
src/database/*.db-wal
src/database/*.db-shm

# But keep the directory
!src/database/.gitkeep
nimble.develop
nimble.paths
nimbledeps

app