
/* Variables */
:root {
  --link-color: #aaaaaa;
  --p-font: monospace;
  --p-font-size: 12pt;
  --text-color: #000000;
  --color-bg: hsla(165, 0%, 100%, 1);
  --color-link: #aaaaaa;
  --color-text: #000000;
  --color-link-hover: #fff;
  --color-link-hover-bg: #000;
}

/* Reset and base styles */
* {
  font-family: var(--p-font);
  font-size: var(--p-font-size);
}

html, body {
  min-height: 100vh;
  margin: 0;

  background-color: var(--color-bg);
  background-image:
    url("data:image/svg+xml,%3Csvg viewBox='0 0 962 962' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.65' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(circle at 0% 0%, hsla(256, 82%, 77%, 0.35) 3%, transparent 40%),
    radial-gradient(circle at 20% 0%, hsla(197, 77%, 74%, 0.35) 3%, transparent 40%),
    radial-gradient(circle at 40% 0%, hsla(147, 77%, 74%, 0.35) 3%, transparent 40%),
    radial-gradient(circle at 60% 0%, hsla(88, 77%, 74%, 0.35) 3%, transparent 40%),
    radial-gradient(circle at 80% 0%, hsla(23, 77%, 74%, 0.35) 3%, transparent 40%),
    radial-gradient(circle at 100% 0%, hsla(234, 100%, 50%, 0.35) 3%, transparent 40%);
  background-blend-mode: overlay, normal, normal, normal, normal, normal, normal;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: centre;

  /* Dark mode support */
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: #181a1b;
      --color-link: #7dcfff;
      --color-text: #f3f3f3;
      --color-link-hover: #000;
      --color-link-hover-bg: #fff;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

/* Layout */
.main-layout {
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.main-content {
  box-sizing: border-box;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-width: 0;
  padding: 1em;
  width: 100%;
}

.sidebar-left, .sidebar-right {
  background: none;
  box-sizing: border-box;
  color: #333;
  flex: 0 0 180px;
  max-width: 180px;
  min-width: 120px;
  padding: 1em;
}

.sidebar-left {
  /* border-right: 1px solid #e0e0e0; */
}

.sidebar-right {
  /* border-left: 1px solid #e0e0e0; */
}

main {
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
}

header {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

/* Typography & elements */
a {
  color: var(--text-color);
  opacity: .6;
  outline: none;
  transition: all .1s;
}

a:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
}

code {
  background: #f3f3f3;
  padding: 0.1rem 0.25rem;
}

.about_pic {
  border-radius: 8px;
  filter: url(#profile_filter);
  width: 200px;
}

svg {
  height: 0;
  position: absolute;
  width: 0;
}

.md-doc img {
  display: block;
  margin: auto;
  width: auto;
  max-width: 600px;
  max-height: 256px;
}

/* Media queries */
@media (max-width: 1000px) {
  .sidebar-right {
    display: none;
  }

  .sidebar-left {
    display: none;
  }

  .main-layout {
    max-width: 100vw;
  }
}

/* @media (max-width: 700px) {
  .sidebar-left {
    display: none;
  }
  .main-layout {
    max-width: 100vw;
  }
} */
