<h1>{{title}}</h1>
<p>Hello there, I'm Sebastian H. (Naitsa) Lorenzen.</p>

<img src="/public/img/thumbs/profile.png" alt="Sebastian" title="My Face"
    class="thumbable about_pic" data-full="/public/img/profile.png" loading="lazy">

<h2>Packages</h2>
<h3>PyPi (The Python Package Index)</h3>
<h4>Freaky Funky Fonts for Django - <a href="https://pypi.org/project/django-freakyfunkyfonts">PiPy</a> - <a href="https://github.com/Naitsabot/django-freakyfunkyfonts">Github</a></h4>

<h3>Nimble (Nim langs package manager)</h3>
<h4>Freaky Funky Fonts for Django - <a href="https://naitsabot.github.io/xkcdgeohash/xkcdgeohash.html">Docs</a> - <a href="https://github.com/Naitsabot/xkcdgeohashing.nim">Github</a></h4>

<h2>Latest posts</h2>
<ul>{{blogs}}</ul>

<h2>Latest projects</h2>
<ul>{{projects}}</ul>