<h1>{{title}}</h1>

<section style="display: flex; align-items: center; gap: 2em;">
    <div>
        <p>Hello there, I'm Sebastian H. (Naitsa) Lorenzen.</p>
        <p>Im a Software/Computer Science student at Aalborg University, currently doing my bachelors project (spring 2026).</p>
        <p>(Bachelors: 2023-2026, masters/candidate: 2026-2028)</p>
        <p>This page contains a slurry of stuff neatly (!hopefully) cadegorised and titled such that it makes sens 😎</p>
    </div>
    <img src="/public/img/thumbs/profile.png" alt="Sebastian" title="My Face" class="thumbable about_pic" data-full="/public/img/profile.png" loading="lazy">
</section>


<h2>Packages</h2>
<h3>PyPi (The Python Package Index)</h3>
<h4>Freaky Funky Fonts for Django - <a href="https://pypi.org/project/django-freakyfunkyfonts">PiPy</a> - <a href="https://github.com/Naitsabot/django-freakyfunkyfonts">Github</a></h4>

<h3>Nimble (Nim langs package manager)</h3>
<h4>Freaky Funky Fonts for Django - <a href="https://naitsabot.github.io/xkcdgeohash/xkcdgeohash.html">Docs</a> - <a href="https://github.com/Naitsabot/xkcdgeohashing.nim">Github</a></h4>

<h2>Latest posts</h2>
<ul>{{blogs}}</ul>

<h2>Latest projects</h2>
<ul>{{projects}}</ul>