<h1>{{title}}</h1>

<section style="display: flow-root;">
    <img src="/public/img/thumbs/profile.png" alt="Sebastian" title="My Face" class="thumbable about_pic" data-full="/public/img/profile.png" loading="lazy" style="float: right; margin: 0 0 1em 1.5em;">
    <p>Hello there, I'm Sebastian H. Lorenzen, also going under the alias "Naitsabot" or "naitsa" as to not be confused with bots. Here is a context-free grammar recognising this my name:
<pre style="width: fit;">
F := 'Seb' L | 'seb' | 'naitsa' E | 'Naitsa' E
L := '' | 'astian' Ø
Ø := ' L.' | ' Lorenzen' | ' H.' D
D := ' L.' | ' Lorenzen'
E := '' | 'bot'
</pre>
    </p>
    <p>
        This is my personal (GitHub) webpage. Here I post about projects I have made or am involved in (personal, university...).
        I also keep a blog where I write about whatever comes to mind or that I'm excited about.
        The webpage itself is written by me and is assembled using Nim lang <3
    </p>
    <p>Hopefully it is neatly organised, if not, well... blame me.</p>
    <h3>About me</h3>
    <p>I'm from <a href="https://da.wikipedia.org/wiki/Skanderborg">Skanderborg, Denmark</a>🇩🇰</p>
    <p>Im a Software/Computer Science student at Aalborg University. <br>(Bachelors: 2023-2026, masters/candidate: 2026-2028).</p>
</section>

<h2>Packages</h2>
<h3>PyPi (The Python Package Index)</h3>
<h4>Freaky Funky Fonts for Django - <a href="https://pypi.org/project/django-freakyfunkyfonts">PiPy</a> - <a href="https://github.com/Naitsabot/django-freakyfunkyfonts">Github</a></h4>

<h3>Nimble (Nim langs package manager)</h3>
<h4>Freaky Funky Fonts for Django - <a href="https://naitsabot.github.io/xkcdgeohash/xkcdgeohash.html">Docs</a> - <a href="https://github.com/Naitsabot/xkcdgeohashing.nim">Github</a></h4>

<h2>Latest blog posts</h2>
<ul>{{blogs}}</ul>

<h2>Latest project posts</h2>
<ul>{{projects}}</ul>