<div class="main-layout">
    <aside class="sidebar-left">
        <!-- Left sidebar content -->
         <nav class="nav-links">
            <a href="/vault-login">Vault Login</a>
        </nav>
        <nav class="nav-links">
            <a href="/vault">Vault</a>
        </nav>
        <nav class="nav-links">
            <a href="/vault-reviews">Reviews</a>
        </nav>
    </aside>
    <main class="main-content">
        {{body}}
    </main>
    <aside class="sidebar-right">
        <!-- Right sidebar content -->
    </aside>
</div>